body {
	color: darkmagenta;
}

.content{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.title{
	border-bottom: solid green 3px;
}

.nuevo{

	margin: 0px;
	margin-bottom: 30px;
	padding: 0px;
	text-align: right;
}

.nuevo a{
	text-decoration: none;
	background-color: darkmagenta;
	color: white;
	padding: 5px 10px;
	border-radius: 10%;
	box-shadow: 4px 4px 4px #888888;
}

.contact{
	padding: 0px !important;
}


table {
	width: 100%;
}

.name{
	margin: 2% 5% 0% 3%;
}

.mail, .ph{
	margin: 1% 2% 2% 10%;
	color: dimgray;
}
tr:hover{
	background-color: rgba(139,0,139,0.8);
	color: aliceblue;
	-ms-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.1,1.1);
	box-shadow: 7px 7px 7px #888888;
}


td:hover div span{
	color:  aliceblue;
}

.button{
	text-align: center;
	margin-top: 20px;
}

.button-primary {
	color: aliceblue;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: darkmagenta; /* this is a green */
	font-weight: bolder;
}

input[type=text][disabled], input[type=email][disabled], input[type=number][disabled], textarea[disabled] {
	background-color: white !important;
	color: darkmagenta !important;
	cursor: default;
}