body {
	color: darkmagenta;
}

.content{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.title{
	border-bottom: solid green 3px;
}

.nuevo{

	margin: 0px;
	margin-bottom: 30px;
	padding: 0px;
	text-align: right;
}

.nuevo a{
	text-decoration: none;
	background-color: forestgreen;
	color: white;
	padding: 5px 10px;
	border-radius: 10%;
	box-shadow: 4px 4px 4px #888888;
}

.contact{
	padding: 0px !important;
}


table {
	width: 100%;
}

.name{
	margin: 2% 5% 0% 3%;
}

.mail, .ph{
	margin: 1% 2% 2% 10%;
	color: dimgray;
}
tr:hover{
	background-color: rgba(139,0,139,0.8);
	font-weight: bold;
	color: aliceblue;
	-ms-transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
	box-shadow: 7px 7px 7px #888888;
}


td:hover div span{
	color:  aliceblue;
}

.button{
	text-align: center;
	margin-top: 20px;
}

.button-primary, .button-warning , .button-error {
	color: aliceblue;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	
	font-weight: bolder;
}

.button-primary{
	background: darkmagenta; /* this is a green */
}

.button-warning {
    background-color: coral;  /* this is an orange */
}

.button-error {
	background-color: crimson;
}

.p-error{
	color: #c00000;
}

label{
	font-size: 1.2em;
}

input, textarea{
	width: 100%
}

.p-error input{
	background-color: rgba(255,224,224, 0.2);
	border: solid 1px red !important;
}

.p-error div {
	text-align: right;
	font-style: italic;
	font-size: 0.9em
}
  