<h1 class="title">Contact List</h1>
<div class="nuevo"><a href="#/new">Nuevo Contacto <i class="fa fa-plus" aria-hidden="true"></i></a></div>
<div class="list">
	<div class="contact" ng-repeat="contact in contacts">{{contact.phone }} _ {{contact.name}}
		<input ng-model="contact.name" ng-change="contacts.$save(contact)" /> 
		<button ng-click="contacts.$remove(contact)">Del</button>
	</div>
</div>


<ul class="nav navbar-nav contacts">
	<li class="active"><a href="#/">listado</a></li>
	<li><a href="#/contact">Detalles</a></li>
</ul>