<h1 class="title">Contact List</h1>
<div class="nuevo"><a href="#/new">Nuevo Contacto <i class="fa fa-plus" aria-hidden="true"></i></a></div>
<div class="list">
	<table class="pure-table pure-table-bordered">
		<tbody>
			<tr ng-repeat="contact in contacts" ng-click="link_contact(contact.$id)">
				<td class="contact">
					<h3 class="name">{{contact.name }}</h3>
					<div class= "mail">
						<span class=""><i class="fa fa-phone" aria-hidden="true"></i> {{contact.phone}}</span>
						<span class="ph"><i class="fa fa-envelope" aria-hidden="true"></i> {{contact.email}}</span>

					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
