<h1 class="title">{{contact.name}}</h1>
<div class= "mail">
	<span class=""><i class="fa fa-phone" aria-hidden="true"></i> {{contact.phone}}</span>
	<span class="ph"><i class="fa fa-envelope" aria-hidden="true"></i> {{contact.email}}</span>
	<h3>Notes:</h3>
	<div>{{contact.notes}}</div>

</div>

<div class="pure-control-group button">
	<a href="#/" class="pure-button "><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
	<a ng-href="#/edit/{{id}}" class="pure-button button-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
	<button ng-href="#/"  ng-click="delete()" class="pure-button button-error"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>
</div>	
